* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  height: 100vh;
  font-family: Helvetica, sans-serif;
}
main {
  margin: 20px;
}
header {
  border-bottom: 2px solid rgb(0, 0, 0);
}
footer {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 102, 102);
  padding: 10px 20px;
}
h1 {
  text-transform: uppercase;
}
