* {
    box-sizing: border-box;
}
body {
  background-color: rgb(238, 238, 238);
}
section.main {
    margin-left: 20%;
    margin-left: 20%;
}
div.cards-layout.masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
  height: 2000px;
}
article.card {
  display: flex;
  flex-direction: column;
  width: 18%;
  margin: 10px;
  border: 1px solid lightgray;
}

footer {
  border-top: 2px solid lightgray;
  padding: 20px;
}
article.card section {
  padding: 20px;
}
