.button {
    border: 3px solid rgb(51, 51, 51);
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    outline: none;
}
.normal .button {
    color: rgb(51, 51, 51) ;
}
button.fill.hover:hover {
    background: rgb(0, 102, 0);
    color: rgb(251, 251, 251);
}
.hover:hover {
    border-color: rgb(0, 102, 0);
    color: rgb(0, 102, 0);
}
.fill {
    background: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
  }
a {
  text-decoration: none;
  padding: 4px 8px;
}
i {
    margin-right: 3px;
}



